.custom-grid-table {
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 20%), 0 0 1px rgb(0 0 0 / 40%);
  width: 100%;
}

#portal {
  position: fixed;
  left: 0; 
  top: 0; 
  z-index: 9999 
}